body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {

  --main-blue-color: #4381C1;
  --off-white-color: #d7d7d7;
  --main-white-color: #efefef;
  --main-black-color: #000000;
  --main-brown-color: #B88E93;
  --main-red-color: #EA3546;
  --main-gray-color: #4E4B5C;
}
